body {
  margin: 0;
  font-family: 'Hind', 'Playfair', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Hind';
  src:
    url(./ui-kit/assets/fonts/Hind-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Hind light';
  src: 
    url(./ui-kit/assets/fonts/Hind-Light.ttf) format('truetype');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Hind medium';
  src: 
    url(./ui-kit/assets/fonts/Hind-Medium.ttf) format('truetype');
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Hind semiBold';
  src:
    url(./ui-kit/assets/fonts/Hind-SemiBold.ttf) format('truetype');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Hind Bold';
  src: 
    url(./ui-kit/assets/fonts/Hind-Bold.ttf) format('truetype');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Playfair';
  src: 
    url(./ui-kit/assets/fonts/PlayfairDisplay-Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
